abntex2-modelo-include-comandos.aux
licy.aux
licy.bbl
licy.blg
licy.brf
licy.idx
licy.lof
licy.log
licy.lot
licy.pdf
licy.synctex.gz
licy.toc
licy-introducao.aux
licy-metodologia.aux
licy-execucao.aux
licy-conclusao.aux
ficha-catalografica.aux